{% extends "layout/base.html.twig" %}

{% block title %}HealthTrain - Betaling afgebroken{% endblock %}

{% block content %}
<div class="bg-white rounded-3xl">
  <div class="mx-auto max-w-3xl px-4 py-16 sm:px-6 sm:py-24 lg:px-8">
    <div class="max-w-xl">
      <h1 class="text-base font-medium text-ht-blue-80">Betaling niet gelukt</h1>
      <p class="mt-2 text-4xl font-bold tracking-tight sm:text-5xl">Betaling afgebroken</p>
	</div>

	<div class="mt-10 pt-10 border-t border-gray-200">
		  <a href="{{ app_website_plans }}" class="mt-5 block w-full rounded-md bg-ht-blue-80 px-4 py-4 text-center text-md font-semibold text-white shadow-sm hover:bg-opacity-80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-ht-blue-80">Terug naar HealthTrain</a>
  </div>

  </div>
</div>
{% endblock %}
