{% extends "layout/base.html.twig" %}

{% block title %}HealthTrain - Betaling afgebroken{% endblock %}

{% block content %}
<div class="bg-white">
  <div class="mx-auto max-w-3xl px-4 py-16 sm:px-6 sm:py-24 lg:px-8">
    <div class="max-w-xl">
      <h1 class="text-base font-medium text-blue-600">Betaling niet gelukt</h1>
      <p class="mt-2 text-4xl font-bold tracking-tight sm:text-5xl">Betaling afgebroken</p>
	</div>

	<div class="mt-10 pt-10 border-t border-gray-200">
     		<h2 class="text-base font-medium">Gegevens contactpersoon</h2>
			<p class="mt-2 text-base text-gray-500">Je gegevens worden verwerkt en HealthTrain zal contact opnemen via het opgegeven e-mailadres voor onboarding.</p>
			<a href="{{ app_website }}" class="mt-5 block w-full rounded-md bg-blue-600 px-4 py-4 text-center text-md font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">Terug naar HealthTrain</a>
    </div>

  </div>
</div>
{% endblock %}

{% block content_orig %}
	<div class="sr-root">
		<div class="sr-main">
			<header class="sr-header">
				<div class="sr-header__logo"></div>
			</header>
			<div class="sr-payment-summary completed-view">
				{% if testmode %}
				<span class="inline-flex items-center rounded-md bg-yellow-100 px-2 py-1 text-xs font-medium text-yellow-800">Testmodus</span>
				{% endif %}
				<h1>Your payment was canceled</h1>
				<button onclick="window.location.href = '/';">Restart demo</button>
			</div>
		</div>
		<div class="sr-content">
			<div class="pasha-image-stack">
				<img src="https://picsum.photos/280/320?random=1" width="140" height="160"/>
				<img src="https://picsum.photos/280/320?random=2" width="140" height="160"/>
				<img src="https://picsum.photos/280/320?random=3" width="140" height="160"/>
				<img src="https://picsum.photos/280/320?random=4" width="140" height="160"/>
			</div>
		</div>
	</div>
{% endblock %}