<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="robots" content="noindex, nofollow">
        <link rel="icon" href="/favicon.ico">
        {% block style %}
        {% endblock %}

        {% block script %}
        {% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
